body {
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
}
#header {
    text-align: center;
    margin: 20px 0px;
}
#header h3 {
    margin-bottom: 0;
}
#navbar {
    background-color:navy;
    text-align: center;
}
#navbar p {
    color: white;
    display: inline-block;
    margin: 15px 20px;
    font-size: 20px;
}
#menuIcon {
    display: none;
}
#about img {
    width: 48%;
}
.aboutText {
    width: 49%;
    display: inline-block;
    vertical-align: top; 
    padding: 10px;  
}
.aboutText p {
    font-size: 20px;
}
#recentListings {
    text-align:center;
    padding: 15px;
}
#recentListings h2 {
    margin-bottom: 0px;
}
.listing {
    border-radius: 5px;
    width: 28%;
    margin: 1.5%;
    display: inline-block;
    box-shadow: 5px 5px 10px grey;
}
.listing .status {
    background-color: #fff;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    text-align: left;
    margin-top: 0px;
    padding: 5px;
}
.listing img {
    border-radius: 5px 5px 0px 0px;
}
.listing h3 {
    margin: 8px;    
}
.listing img {
    width: 100%;
}
#testimonials {
    background-color: rgb(240, 240, 240);
    padding: 15px 30px;
}
#testimonials h2 {
    text-align:center;
    margin: 0px;
}
#testimonial2, #testimonial3 {
    display: none;
}
#footer {
    padding: 20px 75px;
}
#footer .contact {
    text-align: center;
    display:inline-block;
    width: 38%;
    margin: 0px 10%;
}
#footer img {
    width: 20%;
}

/* Contact Us Page Specific Styling */

#contactForm {
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 50px;
}
#contactForm form {
    width: 80%;
    margin: auto;
    padding: 50px;
    box-shadow: 5px 5px 10px grey;
    background-color: white;
}
form h2 {
    margin-top: 0px;
    color: rgb(75, 75, 75)
}
form label {
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: rgb(75, 75, 75);
    margin-bottom: 5px;
}
form input, form textarea {
    text-align: left;
    width: 100%;
    border: 2px solid rgb(75, 75, 75);
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
}
form button {
    width: 100%;
    color: white;
    background-color: rgb(75, 75, 75);
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 1025px) {
    #about {
        text-align: center;
        overflow: hidden;
    }
    #about img {
        width: 90%;
        margin: 5%;
        box-shadow: 0 0 10px grey;
    }
    .aboutText {
        width: 90%;
    }
    #testimonials {
        padding: 15px 5%;
    }
}
@media (max-width: 769px) {
    #navbar {
        overflow: hidden;
    }
    #navbar p {
        display: none;
    }
    #menuIcon {
        display: block;
        color: white;
        font-size: 20px;
        margin: 15px 20px;
    }
    #menuIcon:hover {
        cursor: pointer;
    }
}
@media (max-width: 375px) {
    .listing {
        display:block;
        width: 90%;
    }
    #footer img {
        display: none;
    }
}